---
name: Layout
---
<html className="is-flat is-static">
<head>
  <title>{props.title}</title>
  <meta charSet="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,500" rel="stylesheet"/>
  <link href="./statics/index.css" rel="stylesheet"/>
</head>
<body>
  {props.sections.map((section, i) => (
    i ? <Target section={section} side={i} key={i}/> : null
  ))}
  <a href="#" className="home" title="Veit Lehmann - Home">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
      <path d="M32 0C14.327 0 0 14.327 0 32s14.327 32 32 32 32-14.327 32-32S49.673 0 32 0zm16 46H36V36h-.013c-.065-2.15-1.82-3.878-3.987-3.878S28.078 33.85 28.012 36H28v10H16V28l16-14 16 14v18z"/>
    </svg>
  </a>
  <div className="world">
    <article className="cube">
      {props.children}
    </article>
  </div>
  <script src="./statics/index.js"></script>
</body>
</html>
