@import 'variables';

.cv {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.7rem;
    box-shadow: 0 0 0 .1rem transparentize($color-offwhite, .7);

    @media screen and (min-width: 800px) {
      left: 50%;
    }
  }

  dt,
  dd {
    margin-left: 1.3rem;
    padding-left: 1.7rem;

    @media screen and (min-width: 800px) {
      width: calc(50% + .4rem);
      margin-left: 0;
      float: right;
      clear: both;

      &:nth-of-type(2n + 1) {
        padding-right: 1.7rem;
        padding-left: 0;
        float: left;
        text-align: right;
      }
    }
  }

  dt {
    position: relative;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      top: .7rem;
      left: 0;
      width: .8rem;
      height: .8rem;
      border-radius: 50%;
      background: $color-green;
      box-shadow: inset 0 0 0 .2rem $color-offwhite;
    }

    & ~ dt {
      margin-top: 1.5rem;
    }

    @media screen and (min-width: 800px) {
      &:nth-of-type(2n + 1) {
        &::before {
          right: 0;
          left: auto;
        }
      }
    }
  }
}
