@import 'variables';

@keyframes appear {
  0% {
    transform: translateY(1em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
  background-color: $color-offblack;
  color: $color-offwhite;
  font-size: calc(10px + 5 * ((100vw - 400px) / 1000));

  @media screen and (max-width: 400px) {
    font-size: 10px;
  }

  @media screen and (min-width: 1400px) {
    font-size: 15px;
  }
}

body {
  margin: 0;
  font: normal normal 300 1.5em/1.5 Rubik, Helvetica Neue, Helvetica, sans-serif;
}

.link {
  transition: color .5s;
  text-decoration: none;

  &:hover {
    transition: color .2s;
  }
}

.link--1 {
  color: $color-green;

  &:hover {
    color: darken($color-green, 10%);
  }
}

.link--2 {
  color: $color-yellow;

  &:hover {
    color: darken($color-yellow, 10%);
  }
}

.link--3 {
  color: $color-red;

  &:hover {
    color: darken($color-red, 10%);
  }
}

.link--4 {
  color: $color-blue;

  &:hover {
    color: darken($color-blue, 10%);
  }
}

.link--5 {
  color: $color-silver;

  &:hover {
    color: darken($color-silver, 12%);
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 7rem calc(15vw - 3rem);

  .section--0 & {
    height: 100vh;
  }

  .section:not(.section--0) & {
    @media screen and (max-width: 800px) {
      padding-right: 7rem;
    }
  }
}

.section__content {
  max-width: 1400px;
  margin: 0 auto;
}

.section__title,
.section__intro {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.section__title {
  margin: 0 0 3rem;
}

.section__intro,
.footer {
  animation: appear 1.5s ease-out;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.section--0 {
  background-color: $color-offwhite;
  color: $color-offblack;

  .section__content,
  .section__intro {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
}

.section--1 {
  background-color: $color-green;
}

.section--2 {
  background-color: $color-yellow;
}

.section--3 {
  background-color: $color-red;
}

.section--4 {
  background-color: $color-blue;
}

.section--5 {
  background-color: $color-gray;
}

.footer {
  color: $color-silver;
  font-size: 1.2rem;
  text-align: center;
}
