@import 'variables';

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.75);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  background: $color-offblack;
  color: $color-offwhite;
  font-size: calc(10px + 5 * ((100vw - 400px) / 1000));
  box-sizing: border-box;

  @media screen and (max-width: 400px) {
    font-size: 10px;
  }

  @media screen and (min-width: 1400px) {
    font-size: 15px;
  }
}

body {
  margin: 0;
  font: normal normal 300 1.5em/1.5 Rubik, Helvetica Neue, Helvetica, sans-serif;
}

.link {
  transition: color .5s;
  text-decoration: none;

  &:hover {
    transition: color .2s;
  }
}

.link--1 {
  color: $color-green;

  &:hover {
    color: darken($color-green, 10%);
  }
}

.link--2 {
  color: $color-yellow;

  &:hover {
    color: darken($color-yellow, 10%);
  }
}

.link--3 {
  color: $color-red;

  &:hover {
    color: darken($color-red, 10%);
  }
}

.link--4 {
  color: $color-blue;

  &:hover {
    color: darken($color-blue, 10%);
  }
}

.link--5 {
  color: $color-silver;

  &:hover {
    color: darken($color-silver, 12%);
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 7rem calc(15vw - 3rem);

  .section--0 & {
    height: 100vh;
  }

  .section:not(.section--0) & {
    @media screen and (max-width: 800px) {
      padding-right: 7rem;
    }
  }
}

.section__content {
  align-self: center;
  max-width: 1400px;
  margin: 0 auto;
}

.section__title,
.section__intro {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.section__title {
  margin: 0 0 3rem;
}

.section--0 {
  background: $color-offwhite;
  color: $color-offblack;

  .section__content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
  }

  .section__intro {
    animation: appear 1.5s ease-out;
  }
}

.section--1 {
  background: $color-green;
}

.section--2 {
  background: $color-yellow;
}

.section--3 {
  background: $color-red;
}

.section--4 {
  background: $color-blue;
}

.section--5 {
  background: $color-gray;
}

.footer {
  color: $color-silver;
  font-size: 1.2rem;
  text-align: center;
}

@supports (transform-style: preserve-3d) {
  body {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
  }

  .world {
    @include vmax(width);
    @include vmax(min-width);
    @include vmax(height);
    @include vmax(perspective);
    position: relative;
  }

  .cube,
  .section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .cube {
    @include vmax(transform, #{'translateZ('}, #{') rotateY(0deg)'}, -50);
    transform-style: preserve-3d;
    transition: transform 1s ease;
  }

  .section {
    overflow: hidden;
    backface-visibility: hidden;
  }

  .section__body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }

  .section--0 {
    @include vmax(transform, #{'translateZ('}, #{')'}, 50);
  }

  .section--1 {
    @include vmax(transform, #{'rotateX(90deg) translateZ('}, #{')'}, 50);
  }

  .section--2 {
    @include vmax(transform, #{'rotateY(-90deg) translateZ('}, #{')'}, 50);
  }

  .section--3 {
    @include vmax(transform, #{'rotateY(90deg) translateZ('}, #{')'}, 50);
  }

  .section--4 {
    @include vmax(transform, #{'rotateX(-90deg) translateZ('}, #{')'}, 50);
  }

  .section--5 {
    @include vmax(transform, #{'rotateX(180deg) translateZ('}, #{')'}, 50);
  }

  .target {
    display: none;

    &:target {
      ~ .world {
        animation: zoom 1s ease-in-out;
      }
    }
  }

  .target--1:target ~ .world .cube {
    @include vmax(transform, #{'translateZ('}, #{') rotateX(-90deg)'}, -50);
  }

  .target--2:target ~ .world .cube {
    @include vmax(transform, #{'translateZ('}, #{') rotateY(90deg)'}, -50);
  }

  .target--3:target ~ .world .cube {
    @include vmax(transform, #{'translateZ('}, #{') rotateY(-90deg)'}, -50);
  }

  .target--4:target ~ .world .cube {
    @include vmax(transform, #{'translateZ('}, #{') rotateX(90deg)'}, -50);
  }

  .target--5:target ~ .world .cube {
    @include vmax(transform, #{'translateZ('}, #{') rotateX(-180deg)'}, -50);
  }

  .is-flat {
    .world,
    .cube,
    .section {
      transform: none !important;
    }

    .section--0,
    .target--1:target ~ .world .section--1,
    .target--2:target ~ .world .section--2,
    .target--3:target ~ .world .section--3,
    .target--4:target ~ .world .section--4,
    .target--5:target ~ .world .section--5 {
      z-index: 1;
    }
  }

  .is-static {
    .world,
    .cube {
      transition: none !important;
      animation: none !important;
    }
  }
}
