@import 'variables';

.home {
  position: absolute;
  top: 2rem;
  left: 2rem;
  transform: scale(0);
  transition: transform .2s 1s cubic-bezier(.175, .885, .32, 1.275), opacity 1s 1s;
  color: $color-offwhite;
  opacity: 1;
  z-index: 1;

  @media screen and (max-width: 800px) {
    top: auto;
    right: 2rem;
    bottom: 2rem;
    left: auto;
  }

  svg {
    width: 4rem;
    height: 4rem;
    fill: currentColor;
  }

  .target:target ~ & {
    transform: scale(1);
    opacity: .5;

    &:hover {
      transition: opacity .2s;
      opacity: 1;
    }
  }
}
