@import 'variables';

a {
  transition: text-decoration-color .5s;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: fade-out($color-offwhite, .5);
  text-decoration-thickness: .2rem;

  &:hover {
    transition: text-decoration-color .2s;
    text-decoration-color: $color-offwhite;
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: .02em;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  line-height: 1.2;
}

h2 {
  line-height: 1.3;
}

h3 {
  line-height: 1.4;
}

p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul,
ol {
  padding-left: 3rem;
}
