@import 'variables';

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: .02em;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  line-height: 1.2;
}

h2 {
  line-height: 1.3;
}

h3 {
  line-height: 1.4;
}

p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul,
ol {
  padding-left: 3rem;
}
