$color-offblack: #404040;
$color-gray: #808080;
$color-silver: #a0a0a0;
$color-offwhite: #f6f6f6;
$color-green: hsl(120, 25%, 55%); // #6a6; // 120, 40, 67
$color-yellow: hsl(40, 45%, 55%); // #ba5; // 50, 55, 73
$color-red: hsl(0, 35%, 55%); // #b66; // 0, 45, 73
$color-blue: hsl(210, 45%, 55%); // #69c; // 210, 50, 80

$cube-size: 100vmax;

@mixin vmax($prop, $prefix: #{''}, $suffix: #{''}, $scale: 100) {
  @media (orientation: landscape) {
    #{$prop}: #{$prefix}#{$scale}vw#{$suffix};
  }

  @media (orientation: portrait) {
    #{$prop}: #{$prefix}#{$scale}vh#{$suffix};
  }

  @supports (width: 1vmax) {
    #{$prop}: #{$prefix}#{$scale}vmax#{$suffix};
  }
}
