$color-1: #6a6;
$color-2: #ba5;
$color-3: #b66;
$color-4: #69c;

$cube-size: 100vmax;

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.75);
  }

  100% {
    transform: scale(1);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #000;
  text-decoration: none;
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html {
  background: #444;
  font-size: calc(12px + 4 * ((100vw - 400px) / 1000));
  box-sizing: border-box;

  @media screen and (max-width: 400px) {
    font-size: 10px;
  }

  @media screen and (min-width: 1400px) {
    font-size: 15px;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font: normal normal 300 1.5rem/1.5 Rubik, Helvetica Neue, Helvetica, sans-serif;
  overflow: hidden;
}

.back {
  position: absolute;
  top: .5rem;
  left: 1rem;
  font-size: 3rem;
  color: #f6f6f6;
  z-index: 1;
}

.world {
  position: relative;
  width: $cube-size;
  min-width: $cube-size;
  height: $cube-size;
  perspective: $cube-size;
}

.link {
  transition: color .5s;

  &:hover {
    transition: color .2s;
  }
}

.link--1 {
  color: $color-1;

  &:hover {
    color: darken($color-1, 10%);
  }
}

.link--2 {
  color: $color-2;

  &:hover {
    color: darken($color-2, 10%);
  }
}

.link--3 {
  color: $color-3;

  &:hover {
    color: darken($color-3, 10%);
  }
}

.link--4 {
  color: $color-4;

  &:hover {
    color: darken($color-4, 10%);
  }
}

.cube,
.section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cube {
  transform: translateZ(-$cube-size / 2) rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  color: #fff;
  overflow: auto;
}

.section__body {
  max-width: 1400px;
  width: 100vw;
  height: 100vh;
  padding: 10vmin;
}

.section__title,
.section--0 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
}

.section__title {
  margin: 0 0 2rem;
}

.section--0 {
  transform: translateZ($cube-size / 2);
  background: #f6f6f6;
  color: #444;

  .section__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section--1 {
  transform: rotateX(90deg) translateZ($cube-size / 2);
  background: $color-1;
}

.section--2 {
  transform: rotateY(-90deg) translateZ($cube-size / 2);
  background: $color-2;
}

.section--3 {
  transform: rotateY(90deg) translateZ($cube-size / 2);
  background: $color-3;
}

.section--4 {
  transform: rotateX(-90deg) translateZ($cube-size / 2);
  background: $color-4;
}

.target {
  display: none;

  &:target ~ .world {
    animation: zoom 1s ease-in-out;
  }
}

.target--1:target ~ .world .cube {
  transform: translateZ(-$cube-size / 2) rotateX(-90deg);
}

.target--2:target ~ .world .cube {
  transform: translateZ(-$cube-size / 2) rotateY(90deg);
}

.target--3:target ~ .world .cube {
  transform: translateZ(-$cube-size / 2) rotateY(-90deg);
}

.target--4:target ~ .world .cube {
  transform: translateZ(-$cube-size / 2) rotateX(90deg);
}
