---
export type Props = {
  id: number
  links: Array<{
    title?: string
    slug: string
  }>
}

const { id, links } = Astro.props
---

<a href={`#${links[id].slug}`} class={`link link--${id}`}>{links[id].title}</a>
