---
import type { CollectionEntry } from 'astro:content'

export type SectionEntry = CollectionEntry<'sections'>
export type Props = SectionEntry & {
  side: number
}

const { data, render, side, slug } = Astro.props
const { title } = data
const { Content } = await render()
---

<section class={`section section--${side}`}>
  {side > 0 ? <a id={slug} class={`js_target target target--${side}`} /> : null}
  <div class="section__body js_section__body">
    <div class="section__content">
      {side > 0 ? <h1 class="section__title">{title}</h1> : null}
      <Content />
    </div>
  </div>
</section>
